@{
    ViewData["Title"] = "Home Page";
}

<form method="POST" action="Admin\Login">
    <label for="username">Username:</label>
    <input name="username" type="text" id="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" id="password" type="password" />
    <button type="submit">Login</button>
</form>